/* https://www.canva.com/colors/color-palettes/lazy-warm-afternoon/ */
/* https://www.canva.com/colors/color-palettes/flowers-like-eyes/ */
/* https://www.canva.com/colors/color-palettes/beach-bound/ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 30rem;
  margin: 0 auto;
  padding: 2.4rem;
  font-family: "lato", sans-serif;
  background-color: #2a383f;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-bottom: 2.4rem;
  color: #fbf5f0;
}

.icon-ipt {
  font-size: 1.4rem;
}

.input_box {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #151c20;
  border-radius: 100vmax;
  padding: 0.6rem 1.2rem;
}

.ipt-add {
  font-size: 1.2rem;
  padding: 0.2rem 0 0.2rem 0.2rem;
  border: none;
  display: inline-block;
  position: relative;
  margin-right: auto;
  color: #eaebec;
  background-color: #151c20;
}

.ipt-add:focus {
  outline: none;
}

.icon {
  font-size: 1.8rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
}

.btn-add,
.btn-home {
  color: #eaebec;
  background-color: #151c20;
}

.icon-add {
  font-size: 2.8rem;
}

.icon-home {
  font-size: 2.2rem;
}

.result_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  min-height:  100vh;;
}

.location {
  position: relative;
  background-image: linear-gradient(to right, #db9864, #db6464);
  color: #fbf5f0;
  padding: 1.2rem;
  border-radius: 9px;
  cursor: pointer;
}

.icon-location {
  font-size: 2.4rem;
}

.location_name {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.location_detail,
.location_header {
  display: flex;
  gap: 1.6rem;
}

.forecast_date {
  align-self: flex-end;
  margin-left: auto;
}

.weather_description {
  font-size: 1.6rem;
  text-align: right;
}

.weather_temp {
  font-size: 2.4rem;
  margin-right: 2.4rem;
}

.weather_img {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -28%);
}

.location_more_info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2.4rem;
  justify-items: center;
  align-items: center;
  row-gap: 3.2rem;
}

.more_info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.icon-more_info {
  font-size: 2rem;
  font-weight: 400;
}

.more_info_value {
  font-size: 1.2rem;
  font-weight: 500;
}

.more_info_unit {
  font-size: 1rem;
}

.line_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.line-long {
  width: 39px;
  height: 5px;
  background-color: #bab2a7;
  border-radius: 100vmax;
}

.line-short,
.dot {
  width: 5px;
  height: 5px;
  background-color: #bab2a7;
  border-radius: 50%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_1 {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 0.5rem;
  width: 22rem;
}

.dot {
  background-color: #2a383f;
}

.list_1_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  color: #6a7479;
}

.list_1_item--active,.dot-active {
  color: #eaebec;
}

.list_1_item--3 {
  margin-left: auto;
}

.hourly_forecast {
  display: flex;
  gap: 0.6rem;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;

  padding: 0.4rem 1rem;
  border-radius: 9px;
  background-color: #263239;
  color: #eaebec;
}

.forecast_hour-active {
  border: 1px solid #bab2a7;
  border-radius: 9px;
}

.weather_img_tiny {
  width: 2.4rem;
}

.location_weather_map {
  width: 25.2rem;
  height: 20rem;
  background-color: #263239;
  margin-top: 1rem;
  border-radius: 9px;
}

.next_7_days {
  background-color: #d0e6f0;
  /* background-color: #eaebec; */
  margin-top: 1rem;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.list_2 {
  border-radius: 9px;
}

.list_2_item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: #263239;
}

.line_2 {
  width: 39px;
  height: 5px;
  background-image: linear-gradient(to right, #db9864, #db6464);
  border-radius: 100vmax;
}

.align_left {
  justify-self: start;
}

.hidden {
  display: none;
}
